.App {
/*    text-align: center;*/
}

nav {
/*    float: right;*/
/*    padding-right: 5em;*/
    position: fixed;
    right: 5em;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: 0.5em;
}

.home {
    padding: 5rem;
}

.center {
    text-align: center;
}

.small {
    width: 7rem;
    margin: 0 3em 0 1em;
}

.large {
    width: 80%;
    display: block;
}



/* typewriter effect */
/* reference: https://www.sitepoint.com/css-typewriter-effect/ */
/* https://css-tricks.com/snippets/css/typewriter-effect/ */

.typed-out-container {
    display: inline-block;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    animation:  typing 2s steps(30) forwards, 
                blink 800ms steps(44) infinite normal;

}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from { border-color: orange }
  to { border-color: transparent; }
}