.App {
/*    text-align: center;*/
}

nav {
    position: fixed;
    right: 5em;
    background-color: #f9f9f9;
    width:100%;
    top: 0;
    padding-top: 1em;
    height: 3em;
}

nav ul {
    display: flex;
    float: right;
}

nav li {
    list-style: none;
    margin: 0.5em;
}

input {
/*    color: #be0000; darkish red*/
    color: #1d7484; 
/*    background-color: #f9f9f9;*/
/*    border-color: black;*/
/*    border-width: 3px;*/
}

.home {
    padding: 5rem;
}

.center {
    text-align: center;
}

.small {
    width: 7rem;
    margin: 0 3em 0 1em;
}

.large {
    width: 80%;
    display: block;
}

.probButton {
    padding: 0.5em;
}

/* number table rows */
/* https://stackoverflow.com/questions/17012421/auto-number-table-rows */

table {
    counter-reset: rowNumber;
}

table tr > td:first-child {
    counter-increment: rowNumber;
}

table tr td:first-child:nth-last-child(2)::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    font-size: 90%;
    color: #a9a9a9;
}

table td:nth-child(2):nth-last-child(1)::before {
    content: counter(rowNumber, lower-alpha);
    min-width: 1em;
    margin-right: 0.5em;
    font-size: 90%;
    color: #a9a9a9;
}


/* typewriter effect */
/* reference: https://www.sitepoint.com/css-typewriter-effect/ */
/* https://css-tricks.com/snippets/css/typewriter-effect/ */

.typed-out-container {
    display: inline-block;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    animation:  typing 2s steps(30) forwards, 
                blink 800ms steps(44) infinite normal;

}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from { border-color: orange }
  to { border-color: transparent; }
}